.wrapper {
    background-color: #00AC6B;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.link {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    margin-right: 20px;
}